; [include]
;   path = ~/dev/dotfiles/.gitconfig
; the lines above are included automatically in the global config file by the install script

[pull]
  rebase = true
[push]
  autoSetupRemote = true
[rerere]
  enabled = true
[rebase]
  updateRefs = true
[core]
  excludefile = ~/dev/dotfiles/.gitignore_global
  pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
[merge]
    conflictstyle = zdiff3

; if you want to include a file only for repos under a certain folder,
; you can use the following syntax:
; [includeIf "gitdir:~/folder/subfolder/"]
;   path = ~/folder/subfolder/.gitconfig

