; [include]
;   path = ~/dev/dotfiles/.gitconfig
; the lines above are included automatically in the global config file by the install script

[commit]
  gpgsign = true
[pull]
  rebase = true
[rerere]
  enabled = true
[rebase]
  updateRefs = true
[core]
  excludefile = ~/dev/dotfiles/.gitignore_global

; if you want to include a file only for repos under a certain folder,
; you can use the following syntax:
; [includeIf "gitdir:~/folder/subfolder/"]
;   path = ~/folder/subfolder/.gitconfig

