keybinds clear-defaults=true {
    locked {
        bind "Alt g" { SwitchToMode "Normal"; }
    }
    shared_except "locked" {
        bind "Alt g" { SwitchToMode "Locked"; }
        bind "Alt n" { NewPane; }
        bind "Alt q" { CloseTab; }
        bind "Alt x" { CloseFocus; }
        bind "Alt c" { Clear; }
        bind "Alt t" { NewTab; }
        bind "Alt b" { BreakPane; }
        bind "Alt f" { TogglePaneFrames; }
        bind "Alt r" { EditScrollback; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
    }
}

plugins {
    compact-bar { path "compact-bar"; }
}

ui {
    pane_frames {
        hide_session_name true
    }
}

session_serialization false
pane_frames true
on_force_close "quit"
mouse_mode true
layout_dir "/Users/guilherme/dev/dotfiles/zellij"
theme_dir "/Users/guilherme/dev/dotfiles/zellij/themes"
theme "catppuccin-mocha"

