keybinds clear-defaults=true {
    locked {
        bind "Alt g" { SwitchToMode "normal"; }
    }
    shared_except "locked" {
        // Moving around
        bind "Alt k" { MoveFocus "up"; }
        bind "Alt j" { MoveFocus "down"; }
        bind "Alt h" { MoveFocusOrTab "left"; }
        bind "Alt l" { MoveFocusOrTab "right"; }

        // Panes
        bind "Alt b" { BreakPane; }
        bind "Alt n" { NewPane; }
        bind "Alt x" { CloseFocus; }
        bind "Alt p" { ToggleFloatingPanes; }

        // Tabs
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
        bind "Alt q" { CloseTab; }
        bind "Alt t" { NewTab; }

        // Resize
        bind "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }

        // Scrollback
        bind "Alt c" { Clear; }
        bind "Alt r" { EditScrollback; }

        // Session
        bind "Alt d" { Detach; }
        bind "Alt s" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
            }
        }
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
}

// Plugins to load in the background when a new session starts
// eg. "file:/path/to/my-plugin.wasm"
// eg. "https://example.com/my-plugin.wasm"
load_plugins { }

ui {
    pane_frames {
        hide_session_name true
    }
}
 
theme "catppuccin-mocha"
layout_dir "/Users/guilherme/dev/dotfiles/zellij/layouts"
theme_dir "/Users/guilherme/dev/dotfiles/zellij/themes"

mouse_mode true
simplified_ui false
pane_frames false
on_force_close "detach"
copy_on_select true
auto_layout true
session_serialization true
stacked_resize true
show_startup_tips false
